
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    color: #025157;
}
header {
    width: 90%;
    margin: 4.5% auto;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header * {
    
    display: inline;
    
}
#logo {
    display: flex;
    width: 15%;
    align-content: center;
    justify-items: center;
}
#logo img {
    height: 55px;
}
.navbar {
    width: 70%;
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
    justify-content: center;
}

.con {
    transition: all .2s ease-in-out;
    content: '';
    width: 100%;
    height: 2px;
    background-color: teal;
    left: 0;
    bottom: 3px;
    position: absolute;
    opacity: 0;
}


.menu {
    list-style: none;
    
}

.menu li {
    display: inline-block;
    margin: 5px 15px;
   
}
.actions {
    width: 15%;
    text-align: end;
    display: flex;
    align-items: center;
    
}
.actions a {
    color: #025157;
}
.actions button {
    border-radius: 10px;
    background-color: #025157;
    width: 115px;
    height: 35px;
    margin-left: 15px;
    color: white;
}

/*************************************************/









/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
   h1 {
       text-align: center;
       font-size: 25px;
       font-family: 'Lora', serif;
       margin-bottom: 15px;
   }
   main {
    margin-top: 130px;
  }
   body {
   background-color: #e3fffe;
    }
    .navbar, .actions {
    display: none;
  }
  /** Media queries previos al banner **/
  .promo {
      display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 0 0;
  }

  .promo img {
      width: 150px;
      height: 70px;
      display: block;
      margin: auto;
  }
  .explanatory-video {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
  }
  .explanatory-video > video {
    width: 100%;
  }

  .publish {
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
  }
  .publish * {
      margin-top: 5px 0;
  }

  .publish > h3 {
    font-size: 25px;
    line-height: 1.2;
  }
  
  form * {
      margin: 15px 0;
  }

  .banner > img {
    display:block;
    margin:auto;
    width: 70%;
  }
  /***************************/ 

  .features {
    background-color: #025157;
    padding: 5% 10%;
    display: grid;
    gap: 10px;
    grid-template: repeat(4, 1fr) / 1fr;
  }
  .features .feature-card {
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    border: 1px solid #DADADA;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  .features .feature-card .feature-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
    position: initial;
  }
  .features .feature-card .feature-content > * {
    margin-bottom: 1rem;
    margin-top: 0;
  }
  .features .feature-card .feature-content img {
    width: 50px;
  }
  .features .feature-card .feature-content h3 {
    font-size: 24px;
    color: #343434;
    font-weight: 400;
  }
  .features .feature-card .feature-content p {
    font-size: 16px;
    color: #7E7E7E;
    font-weight: 400;
  }
  .features .feature-card .feature-content a {
    font-size: 16px;
    color: #67B54B;
    font-weight: 600;
    text-decoration: none;
  }
  .features .feature-card .feature-image {
    flex: 20;
    width: 80%;
    position: relative;
    height: 100%;
  }
  .features .feature-card .feature-image figure {
    margin-top: 0;
    height: 90%;
    width: 100%;
    position: initial;
  }

  .features .feature-card .feature-image img {
    margin-top: 0;
    height: 100%;
    width: 100%;
    position: initial;
  }

  
}

/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {
    h1 {
        font-family: 'Lora', serif;
    }
}

/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
    h1 {
        font-family: 'Lora', serif;
    }
}

/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
    h1 {
        font-family: 'Lora', serif;
    }
    .features {
      background-color: #025157;
      padding: 5% 10%;
      display: grid;
      grid-template: repeat(2, 330px) / repeat(2, 1fr);
    }
    .features .feature-card {
      margin-bottom: 30px;
      margin-left: 15px;
      margin-right: 15px;
      background-color: #fff;
      border: 1px solid #DADADA;
      border-radius: 5px;
      display: flex;
      align-items: center;
      overflow: hidden;
    }
    .features .feature-card .feature-content {
      padding: 30px 20px 40px 40px;
      flex: 2;
    }
    .features .feature-card .feature-content > * {
      margin-bottom: 1rem;
      margin-top: 0;
    }
    .features .feature-card .feature-content img {
      width: 50px;
    }
    .features .feature-card .feature-content h3 {
      font-size: 24px;
      color: #343434;
      font-weight: 400;
    }
    .features .feature-card .feature-content p {
      font-size: 16px;
      color: #7E7E7E;
      font-weight: 400;
    }
    .features .feature-card .feature-content a {
      font-size: 16px;
      color: #67B54B;
      font-weight: 600;
      text-decoration: none;
    }
    .features .feature-card .feature-image {
      flex: 1;
      width: 40%;
      position: relative;
      right: -50px;
      height: 80%;
    }
    .features .feature-card .feature-image figure,
    .features .feature-card .feature-image img {
      margin-top: 0;
      height: 100%;
    }
}

/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {
    h1 {
        font-family: 'Lora', serif;
    }
    .features {
      background-color: #025157;
      padding: 5% 10%;
      display: grid;
      grid-template: repeat(2, 330px) / repeat(2, 1fr);
    }
    .features .feature-card {
      margin-bottom: 30px;
      margin-left: 15px;
      margin-right: 15px;
      background-color: #fff;
      border: 1px solid #DADADA;
      border-radius: 5px;
      display: flex;
      align-items: center;
      overflow: hidden;
    }
    .features .feature-card .feature-content {
      padding: 30px 20px 40px 40px;
      flex: 2;
    }
    .features .feature-card .feature-content > * {
      margin-bottom: 1rem;
      margin-top: 0;
    }
    .features .feature-card .feature-content img {
      width: 50px;
    }
    .features .feature-card .feature-content h3 {
      font-size: 24px;
      color: #343434;
      font-weight: 400;
    }
    .features .feature-card .feature-content p {
      font-size: 16px;
      color: #7E7E7E;
      font-weight: 400;
    }
    .features .feature-card .feature-content a {
      font-size: 16px;
      color: #67B54B;
      font-weight: 600;
      text-decoration: none;
    }
    .features .feature-card .feature-image {
      flex: 1;
      width: 40%;
      position: relative;
      right: -50px;
      height: 80%;
    }
    .features .feature-card .feature-image figure,
    .features .feature-card .feature-image img {
      margin-top: 0;
      height: 100%;
    }
}